In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
# Reading movies file and creating dataframe 
tmdb_movies_df = pd.read_csv('tmdb-movie-metadata/tmdb_5000_movies.csv')

In [ ]:
# getting head of dataframe
tmdb_movies_df.head()

In [ ]:
# getting shape of dataframe
tmdb_movies_df.shape

In [ ]:
# getting info of dataframe
tmdb_movies_df.info()

In [ ]:
# getting description of dataframe
tmdb_movies_df.describe()

In [ ]:
# Getting movies where original_title is not equal to title
tmdb_movies_df[tmdb_movies_df['original_title'] != tmdb_movies_df['title']].head()

In [ ]:
arr_bar = np.array([len(tmdb_movies_df[tmdb_movies_df['original_title'] != tmdb_movies_df['title']]),len(tmdb_movies_df[tmdb_movies_df['original_title'] == tmdb_movies_df['title']])])

In [ ]:
# Content of array
arr_bar

In [ ]:
# Shape of array
arr_bar.shape

In [ ]:
# Plotting where Original Title is equal to Title and not equal to Title
plt.bar(['Original != Title','Original = Title'],arr_bar)
plt.xlabel('Original or Not', fontsize=10)
plt.ylabel('Number of Movies', fontsize=10)
plt.show()

In [ ]:
# Dropping Original Title column, as for mostly all the movies Original Title is equal to Title
tmdb_movies_df = tmdb_movies_df.drop('original_title', axis = 1)

In [ ]:
# Getting head of dataframe
tmdb_movies_df.head(3)

In [ ]:
# Getting count of values in Status columns
tmdb_movies_df['status'].value_counts()

In [ ]:
#status not imp as almost all are released so can be dropped
tmdb_movies_df = tmdb_movies_df.drop('status', axis = 1)

In [ ]:
#tagline for the movies are specifiv to them so can be dropped
tmdb_movies_df = tmdb_movies_df.drop('tagline', axis = 1)

In [ ]:
#homepage column had a large number of missing values so can be dropped
tmdb_movies_df = tmdb_movies_df.drop('homepage', axis = 1)

In [ ]:
# getting info of dataframe
tmdb_movies_df.info()

In [ ]:
# Importing literal_eval to convert unstringify json objects
from ast import literal_eval

In [ ]:
# Applying literal_eval on genres column and extracting genres from json object
tmdb_movies_df['genres'] = tmdb_movies_df['genres'].apply(literal_eval)
tmdb_movies_df['genres'] = tmdb_movies_df['genres'].apply(lambda x: [i['name'] for i in x])

In [ ]:
# First value of genres column
tmdb_movies_df['genres'][0]

In [ ]:
# Genres Column
tmdb_movies_df['genres']

In [ ]:
# Converting Genres column to list 
genres_list = tmdb_movies_df['genres'].tolist()

In [ ]:
# Getting unique list of genres
genres_list_unique = []
for i in genres_list:
    for j in i:
        if(j not in genres_list_unique):
            genres_list_unique.append(j)

In [ ]:
# unique list of genres
genres_list_unique

In [ ]:
# length of unique list of genres
len(genres_list_unique)

In [ ]:
# Function to calculate count of each genre
def calculate_genre_counts():
    genre_counts = []
    count_action = 0
    count_adventure = 0
    count_fantasy = 0
    count_sciencefiction = 0
    count_crime = 0
    count_drama = 0
    count_thriller = 0
    count_animation = 0
    count_family = 0
    count_western = 0
    count_comedy = 0
    count_romance = 0
    count_horror = 0
    count_mystery = 0
    count_history = 0
    count_war = 0
    count_music = 0
    count_documentary = 0
    count_foreign = 0
    count_tvmovie = 0
    for i in genres_list:
        for j in i:
            if(j == 'Action'):
                count_action += 1
            elif(j == 'Adventure'):
                count_adventure += 1
            elif(j == 'Fantasy'):
                count_fantasy += 1
            elif(j == 'Science Fiction'):
                count_sciencefiction += 1
            elif(j == 'Crime'):
                count_crime += 1
            elif(j == 'Drama'):
                count_drama += 1
            elif(j == 'Thriller'):
                count_thriller += 1
            elif(j == 'Animation'):
                count_animation += 1
            elif(j == 'Family'):
                count_family += 1
            elif(j == 'Western'):
                count_western += 1
            elif(j == 'Comedy'):
                count_comedy += 1
            elif(j == 'Romance'):
                count_romance += 1
            elif(j == 'Horror'):
                count_horror += 1
            elif(j == 'Mystery'):
                count_mystery += 1
            elif(j == 'History'):
                count_history += 1
            elif(j == 'War'):
                count_war += 1
            elif(j == 'Music'):
                count_music += 1
            elif(j == 'Documentary'):
                count_documentary += 1
            elif(j == 'Foreign'):
                count_foreign += 1
            elif(j == 'TV Movie'):
                count_tvmovie += 1
    genre_counts.extend([count_action,count_adventure,count_fantasy,count_sciencefiction,count_crime,count_drama,count_thriller,count_animation,count_family,count_western,count_comedy,count_romance,count_horror,count_mystery,count_history,count_war,count_music,count_documentary,count_foreign,count_tvmovie])
    return genre_counts

In [ ]:
# Calling calculate_genre_counts function nad storing reults in genre_counts
genre_counts = calculate_genre_counts()

In [ ]:
# Count of each genre respectively
genre_counts

In [ ]:
#bar graph for movie genre count
index = np.arange(len(genres_list_unique))
plt.figure(figsize=(12,6))
plt.bar(index,genre_counts)
plt.xlabel('Genres', fontsize=10)
plt.ylabel('Number of Movies', fontsize=10)
plt.xticks(index, genres_list_unique, fontsize=7, rotation=25)
plt.title('Number of Movies for each Genre')
plt.show()

In [ ]:
# getting info of dataframe
tmdb_movies_df.info()

In [ ]:
# calculating language count
movie_language_counts = tmdb_movies_df['original_language'].value_counts().head(10)

In [ ]:
# language count
movie_language_counts

In [ ]:
# Top ten languages
movie_langs_topten = ['English', 'French', 'Spanish', 'Chinese', 'German', 'Hindi', 'Japanese', 'Italian', 'Chinese (PRC)', 'Russian']

In [ ]:
#bar graph for movie languages count
index = np.arange(len(movie_langs_topten))
plt.figure(figsize=(12,6))
plt.bar(index,movie_language_counts)
plt.xlabel('Languages', fontsize=10)
plt.ylabel('Number of Movies', fontsize=10)
plt.xticks(index, movie_langs_topten, fontsize=10, rotation=30)
plt.title('Number of Movies for Top 10 Languages')
plt.show()

In [ ]:
# First value of column production_countries
tmdb_movies_df['production_countries'][0]

In [ ]:
# Applying literal_eval on production_countries column and extracting production_countries from json object
tmdb_movies_df['production_countries'] = tmdb_movies_df['production_countries'].apply(literal_eval).apply(lambda x: [i['name'] for i in x])

In [ ]:
# First value of column production_countries
tmdb_movies_df['production_countries'][0]

In [ ]:
# Converting production_countries column to list
production_countries_list = tmdb_movies_df['production_countries'].tolist()

In [ ]:
production_countries_list

In [ ]:
# Getting unique list of production_countries
production_countries_list_unique = []
for i in production_countries_list:
    for j in i:
        if(j not in production_countries_list_unique):
            production_countries_list_unique.append(j)

In [ ]:
# length of unique list of genres
len(production_countries_list_unique)

In [ ]:
# Extracting production_countries into temp series
temp = tmdb_movies_df.apply(lambda x: pd.Series(x['production_countries']),axis=1).stack().reset_index(level=1, drop=True)

In [ ]:
# length of tmdb_movies_df dataframe
len(tmdb_movies_df)

In [ ]:
# Giving name to temp series
temp.name = 'Production Countries'

In [ ]:
#  getting count of values in temp series
temp.value_counts()

In [ ]:
#  Joining temp to tmdb_movies_df dataframe and creating temp_df
temp_df = tmdb_movies_df.join(temp)

In [ ]:
#  Top 10 Production countries count
prod_countries_count = temp_df['Production Countries'].value_counts().head(10)

In [ ]:
# Top ten production countries from index of prod_countries_count
production_countries_topten = list(prod_countries_count.index)

In [ ]:
# Top ten production countries
production_countries_topten

In [ ]:
#bar graph for production companies count
index = np.arange(len(production_countries_topten))
plt.figure(figsize=(12,6))
plt.bar(index,prod_countries_count)
plt.xlabel('Production Countries', fontsize=10)
plt.ylabel('Number of Movies', fontsize=10)
plt.xticks(index, production_countries_topten, fontsize=10, rotation=20)
plt.title('Top 10 Production Countries')
plt.show()

In [ ]:
#  getting info of movie dataframe
tmdb_movies_df.info()

In [ ]:
# Applying literal_eval on production_countries column and extracting production_countries from json object
tmdb_movies_df['spoken_languages'] = tmdb_movies_df['spoken_languages'].apply(literal_eval).apply(lambda x: [i['name'] for i in x])

In [ ]:
# spoken_languages column 
tmdb_movies_df['spoken_languages']

In [ ]:
# Creating series of spoken_languages
tempspoken = tmdb_movies_df.apply(lambda x: pd.Series(x['spoken_languages']),axis=1).stack().reset_index(level=1, drop=True)

In [ ]:
#  Giving name to series
tempspoken.name = 'Spoken Language'

In [ ]:
#  Joining tempspoken to tmdb_movies_df dataframe and creating temp_df
temp_df = tmdb_movies_df.join(tempspoken)

In [ ]:
#  Getting count of top5 spoken languages
spoken_lang_count = temp_df['Spoken Language'].value_counts().head(5)

In [ ]:
#  Top 5 Spoken languages with count
spoken_lang_count

In [ ]:
# getting list of top5 sopken languages from spoken_lang_count index 
spoken_lang_topfive = list(spoken_lang_count.index)

In [ ]:
#  Top 5 Spoken languages 
spoken_lang_topfive

In [ ]:
#bar graph for spoken languages count
index = np.arange(len(spoken_lang_topfive))
plt.figure(figsize=(10,6))
plt.bar(index,spoken_lang_count)
plt.xlabel('Spoken Languages', fontsize=10)
plt.ylabel('Number of Movies', fontsize=10)
plt.xticks(index, spoken_lang_topfive, fontsize=10, rotation=30)
plt.title('Top 5 Spoken Languages Movies')
plt.show()
%matplotlib inline

In [ ]:
# Reading credits file and creating credits dataframe
tmdb_credits_df = pd.read_csv('tmdb-movie-metadata/tmdb_5000_credits.csv')

In [ ]:
# Applying literal_eval on cast column and extracting cast from json object
tmdb_credits_df['cast'] = tmdb_credits_df['cast'].apply(literal_eval).apply(lambda x: [i['name'] for i in x])

In [ ]:
# Getting head of credits dataframe
tmdb_credits_df.head()

In [ ]:
#  Creating series to calculate count of values of cast columns
tempcast = tmdb_credits_df.apply(lambda x: pd.Series(x['cast']),axis=1).stack().reset_index(level=1, drop=True)
tempcast.name = 'tempcast'
temp_df = tmdb_credits_df.join(tempcast)
cast_count = temp_df['tempcast'].value_counts().head(10)
cast_count.values

In [ ]:
# List of cast top 10
cast_topten = list(cast_count.index)

In [ ]:
# creating dataframe with columns cast and count
cast_graph_df = pd.DataFrame({'Cast':cast_topten,'Count':cast_count.values},index = range(len(cast_topten)))

In [ ]:
cast_graph_df

In [ ]:
#bar graph for Top 10 Cast Movie count
sns.set()
plt.figure(figsize=(12,6))
plt.title("Top 10 Cast Movie Count")
castgraph = sns.barplot(x = 'Cast', y = 'Count', data=cast_graph_df)
for item in castgraph.get_xticklabels():
    item.set_rotation(30)

In [ ]:
# Pie plot of spoken_lang_count
spoken_lang_count.plot.pie(figsize=(7, 7),autopct='%.2f')

In [ ]:
# Pie plot of prod_countries_count
prod_countries_count.plot.pie(figsize=(8, 8),autopct='%.2f')

In [ ]:
genre_df = pd.DataFrame({'Count':genre_counts},index = genres_list_unique)

In [ ]:
# Pie plot of genres
genre_df.plot.pie(y="Count",figsize=(10,10),autopct='%.2f')

In [ ]:
origtitle_df = pd.DataFrame({'': [261, 4542]},
                  index=['Different from Original Title', 'Same as Original Title'])

In [ ]:
origtitle_df

In [ ]:
# Pie plot of Tittle same as Original title and different from Original title
origtitle_df.plot.pie(y="",figsize=(8,8),autopct='%.2f')

In [ ]:
# Applying literal_eval to crew column
tmdb_credits_df['crew'] = tmdb_credits_df['crew'].apply(literal_eval)

In [ ]:
tmdb_credits_df['crew']

In [ ]:
# Extracting List of directors from the crew column
director_list = []
for i in tmdb_credits_df['crew']:
    for j in i:
        if(j['job'] == 'Director'):
            director_list.append(j['name'])

In [ ]:
#  length of Director list
len(director_list)

In [ ]:
# Creating series of direstor list, naming the series, joining it with credits dataframe and creating temp_df dataframe
director_series = pd.Series(director_list)
director_series.name = 'Director'
temp_df = tmdb_credits_df.join(director_series)

In [ ]:
# Top 10 directors by count
director_series.value_counts().head(10)

In [ ]:
director_count = director_series.value_counts().head(10).values

In [ ]:
director_topten = list(director_series.value_counts().head(10).index)

In [ ]:
director_count_df = pd.DataFrame({'Director':director_topten,'Count':director_count},index = range(len(director_topten)))

In [ ]:
director_count_df

In [ ]:
#director count graph
sns.set()
plt.figure(figsize=(12,6))
plt.title("Top 10 Director's Count")
directorgraph = sns.barplot(x = 'Director', y = 'Count', data=director_count_df)
for item in directorgraph.get_xticklabels():
    item.set_rotation(20)

In [ ]:
topten_budget_df = tmdb_movies_df.sort_values(by=['budget'], ascending = False)[['budget','title']].head(10)

In [ ]:
topten_budget_df = topten_budget_df.rename(columns = {'title': 'Title','budget': 'Budget'})

In [ ]:
topten_budget_df

In [ ]:
#Budget top 10 graph
sns.set()
plt.figure(figsize=(12,6))
plt.title("Top 10 Movie Budgets")
budgetgraph = sns.barplot(x = 'Title', y = 'Budget', data=topten_budget_df)
for item in budgetgraph.get_xticklabels():
    item.set_rotation(20)

In [ ]:
topten_revenue_df = tmdb_movies_df.sort_values(by=['revenue'], ascending = False)[['revenue','title']].head(10)

In [ ]:
topten_revenue_df = topten_revenue_df.rename(columns = {'title': 'Title','revenue': 'Revenue'})

In [ ]:
topten_revenue_df

In [ ]:
#Revenue top 10 graph
sns.set()
plt.figure(figsize=(12,6))
plt.title("Top 10 Movie Revenues")
revenuegraph = sns.barplot(x = 'Title', y = 'Revenue', data=topten_revenue_df)
for item in revenuegraph.get_xticklabels():
    item.set_rotation(20)

In [ ]:
tmdb_movies_df[tmdb_movies_df['revenue'].isnull()].head()

In [ ]:
tmdb_movies_df['revenue'] = tmdb_movies_df['revenue'].replace(0, np.nan)

In [ ]:
tmdb_movies_df['budget'] = pd.to_numeric(tmdb_movies_df['budget'], errors='coerce')

In [ ]:
tmdb_movies_df['budget'] = tmdb_movies_df['budget'].replace(0, np.nan)

In [ ]:
tmdb_movies_df[tmdb_movies_df['budget'].isnull()].head(3)

In [ ]:
tmdb_movies_df['return'] = tmdb_movies_df['revenue'] / tmdb_movies_df['budget']

In [ ]:
tmdb_movies_df.head(3)

In [ ]:
topten_return_df = tmdb_movies_df.sort_values(by=['return'], ascending = False)[['return','title']].head(10)

In [ ]:
topten_return_df = topten_return_df.rename(columns = {'title': 'Title','return': 'Return'})

In [ ]:
topten_return_df

In [ ]:
#Return top 10 graph
sns.set()
plt.figure(figsize=(12,6))
plt.title("Top 10 Movie Returns")
returngraph = sns.barplot(x = 'Title', y = 'Return', data=topten_return_df)
for item in returngraph.get_xticklabels():
    item.set_rotation(20)

In [ ]:
topten_returngoodbudget_df = tmdb_movies_df[tmdb_movies_df['budget'] > 5e6][['title','return']].sort_values('return', ascending=False).head(10)

In [ ]:
topten_returngoodbudget_df = topten_returngoodbudget_df.rename(columns = {'title': 'Title','return': 'Return'})

In [ ]:
topten_returngoodbudget_df

In [ ]:
#Return with good budget top 10 graph
sns.set()
plt.figure(figsize=(12,6))
plt.title("Top 10 Movie Returns having Budget more than 5 Million")
returngoodbudgetgraph = sns.barplot(x = 'Title', y = 'Return', data=topten_returngoodbudget_df)
for item in returngoodbudgetgraph.get_xticklabels():
    item.set_rotation(20)

In [ ]:
budgetrevenuereturn_notnull_df = tmdb_movies_df[tmdb_movies_df['revenue'].notnull() & tmdb_movies_df['budget'].notnull() & tmdb_movies_df['return'].notnull()]

In [ ]:
budgetrevenuereturn_notnull_df.head(3)

In [ ]:
return_list = budgetrevenuereturn_notnull_df['return'].tolist()

In [ ]:
budgetrevenuereturn_notnull_df[budgetrevenuereturn_notnull_df['return'] < 1].head(3)

In [ ]:
#  Getting movie is Hit or Flop using return_list
hit_flop = []
for i in return_list:
    if (i > 1):
        hit_flop.append('Hit')
    else:
        hit_flop.append('Flop')

In [ ]:
hit_flop = np.asarray(hit_flop)

In [ ]:
hit_flop

In [ ]:
budgetrevenuereturn_notnull_df['Hit/Flop'] = hit_flop

In [ ]:
budgetrevenuereturn_notnull_df['Hit/Flop'].value_counts()

In [ ]:
hitflop_df = pd.DataFrame({'Hit/Flop':budgetrevenuereturn_notnull_df['Hit/Flop'].value_counts().index,'Count':budgetrevenuereturn_notnull_df['Hit/Flop'].value_counts().values},index = range(2))

In [ ]:
hitflop_df

In [ ]:
#Hit or Flop Count
sns.set()
plt.figure(figsize=(3,5))
plt.title("Hit VS Flop Movies")
sns.barplot(x = 'Hit/Flop', y = 'Count', data=hitflop_df)

In [ ]:
hitflop_df2 = pd.DataFrame({'':budgetrevenuereturn_notnull_df['Hit/Flop'].value_counts().values},index = ['Hit', 'Flop'])

In [ ]:
hitflop_df2

In [ ]:
#  Pie plot for Hit and Flop
hitflop_df2.plot.pie(y = '', figsize=(7,7),autopct='%.2f')

In [ ]:
# Plotting worldcloud for the title of the movies
from wordcloud import WordCloud, STOPWORDS
tmdb_movies_df['title'] = tmdb_movies_df['title'].astype('str')
title_corpus = ' '.join(tmdb_movies_df['title'])
title_wordcloud = WordCloud(stopwords=STOPWORDS, background_color='black', height=2000, width=4000).generate(title_corpus)
plt.figure(figsize=(16,8))
plt.imshow(title_wordcloud)
plt.axis('off')
plt.show()